<div class="container_small-card">
    <div class="small-card_content">
        <div class="small-card_photo">
            <img src="https://s2.glbimg.com/1itp07Es0lKmVBlduUYMyTMtI8Q=/0x0:1200x800/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/0/l/zczH0xSDWDb3jdVnTyHg/58.png" alt="">
        </div>
        <div class="small-card_info">
            <div class="small-card_date">
                <p>27/05/2023</p>
            </div>
            <div class="small-card_title">
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Sed sagittis felis sit amet lacus lobortis pulvinar. 
                    Phasellus vehicula turpis mauris, non hendrerit sem pharetra a.</h1>
            </div>
        </div>
    </div>
    <hr>
</div>