<header class="header">
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles_main">
        <app-big-card photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&aspectRatio=1.78&format=jpe"
        cardTitle="Angular lança nova versão"
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed sagittis felis sit amet lacus lobortis pulvinar. 
        Phasellus vehicula turpis mauris, non hendrerit sem pharetra a."
        ></app-big-card>
    </div>
    <div class="articles_other">
        <app-small-card cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed sagittis felis sit amet lacus lobortis pulvinar. 
        Phasellus vehicula turpis mauris, non hendrerit sem pharetra a."
        photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/DA2E198288BFCA56AB53340211B38DE7134E40E4521EDCAFE6FFB8CD69250DE9/scale?width=1440&aspectRatio=1.78&format=jpeg"
        ></app-small-card>
        <app-small-card cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed sagittis felis sit amet lacus lobortis pulvinar. 
        Phasellus vehicula turpis mauris, non hendrerit sem pharetra a."
        photoCover="https://images.cointelegraph.com/cdn-cgi/image/format=auto,onerror=redirect,quality=90,width=1200/https://s3.cointelegraph.com/storage/uploads/view/f04b5e1e7f007a3b8c2aa2bcb2c44468.jpg"
        ></app-small-card>
        <app-small-card cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed sagittis felis sit amet lacus lobortis pulvinar. 
        Phasellus vehicula turpis mauris, non hendrerit sem pharetra a."
        photoCover="https://blog.br.playstation.com/tachyon/sites/4/2023/05/6b7bb259e830dcacec1d74b605802a260d8de868.jpg?resize=1088%2C612&crop_strategy=smart"
        ></app-small-card>
 
    </div>
</div>